@import url("http://fonts.googleapis.com/css?family=Chango");
body{
	background:url("http://wallpoper.com/images/00/32/35/17/light-minimalistic_00323517.jpg");
	background-size: 2000px;
	text-align: left;

}
.navbar {
	background:url("http://i.ytimg.com/vi/Uc1xz4mbxOk/maxresdefault.jpg");
	background-size: 200px;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	text-align: center;
}

a{
	color: black;
}

.Blog-Project {
	text-align: center;
	font-size: 400px;
	font-family: 'Montserrat';
	width: cover;
  	height: 100px;
  	padding-bottom: 11%;
  	background:url("http://i.ytimg.com/vi/Uc1xz4mbxOk/maxresdefault.jpg");
  	background-size: 100px;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-webkit-animation:moving 200s ease infinite;

}    
@-webkit-keyframes moving {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 500px;
  }
}​


  @media screen and (max-width:320px) {
   	html{ background-color: transparent; }
}

 @media screen and (min-width:1024px) {
   	html{ background-color: pink; }

}

.About-Me {
	margin-left: 50px;
	text-align: center;
	border-style: double;
	border-color: black;
}
