body{
	background-color: pink;
	text-align: left;

}

  @media screen and (max-width:320px) {
   	html{ background-color: transparent; }
}

 @media screen and (min-width:1024px) {
   	html{ background-color: pink; }

}



